.grid {
    display:grid;
    grid-template-columns:1fr 500px 500px 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr;
    grid-template-areas:
    ". title title ."
    ". header header ."
    ". sidebar content ."
    ". footer footer ."
    }
    
    .title {
    grid-area: title;
    border-style: solid;
    }

    .header {
    grid-area: header;
    border-style: solid;
    }
    
    .sidebar {
    grid-area: sidebar;
    border-style: solid;
    }

    .content {
    grid-area:content;
    border-style: solid;
    }
    
    .footer {
     grid-area: footer;
     border-style: solid;
     }
            
    