.topnav {
  overflow: hidden;
  background-color: #333;
  font-family: 'Righteous', cursive;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #8f0209;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 8px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 8px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.grid {
display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: .1fr .1fr .1fr .1fr .1fr .1fr;
grid-template-areas:
"title1 title1 title1 title1 title1"
"title1b title1b title1b title1b title1b"
". header header header ."
"skillmatrix skillmatrix skillmatrix skillmatrix skillmatrix"
". programs programs programs ."
"footer footer footer footer footer"
}

.title1 {
grid-area: title1;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr;
align-items: end;
justify-items: center;
grid-template-areas:
"title2 title3 title4";
}

.title2 {
grid-area: title2;
border-style: solid;
border-width: thin;
justify-self: self-end;
width: 135px;
height: 190px;
text-align: center;
margin-bottom: 0px;
}

.title3 {
grid-area: title3;
justify-self: center;
width: auto;
text-align: center;
width: 700px;
margin-bottom: 0px;
}

.title4 {
grid-area: title4;
border-style: solid;
border-width: thin;
justify-self: self-start;
width: 135px;
height: 190px;
text-align: center;
margin-bottom: 0px;
}
.title1b {
grid-area: title1b;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr;
align-items: start;
justify-items: center;
grid-template-areas:
"title2b title3b title4b";
}
.title2b {
grid-area: title2b;
align-self: top;
justify-self: self-end;
width: 135px;
text-align: center;
margin-top: 2px;
}

.title3b {
grid-area: title3b;
align-self: center;
justify-self: center;
width: 700px;
text-align: center;
}

.title4b {
grid-area: title4b;
align-self: top;
justify-self: self-start;
width: 135px;
text-align: center;
margin-top: 2px;
}

.header {
grid-area: header;
text-align: center;
font-family: arial;
font-weight: bold;
font-size: 20px;
}

.skillmatrix {
grid-area: skillmatrix;
text-align: center;
}

.programs {
grid-area: programs;
text-align: center;
}

.footer {
grid-area: footer;
text-align: center;
padding: 1em;
background-color: rgba(63, 79, 99, 0.274);
border-radius: 40px;
}

.grid a {
color:black;
text-decoration: none;
}

a.programlink:hover, a.programlink:active {
text-shadow: .04em .04em rgb(8, 34, 54); 
text-decoration: underline;
}



@media only screen and (min-width: 700px) {


}
